# Database
POSTGRES_USER=vulnprio
POSTGRES_PASSWORD=vulnprio_dev
POSTGRES_DB=vulnprio

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@vulnprio.dev
PGADMIN_DEFAULT_PASSWORD=admin

# API Keys
# Register at https://nvd.nist.gov/developers/request-an-api-key
NVD_API_KEY=

# Application
DEBUG=false
